:root{
    --borange:hsl(31, 77%, 52%);
    --dcyan:hsl(184, 100%, 22%);
    --vdcyan:hsl(179, 100%, 13%);
    --twhite:hsla(0, 0%, 100%, 0.75);
    --vlgray:hsl(0, 0%, 95%);
    background-color: var(--vlgray);
}

.sectionone, .sectiontwo, .sectionthree
{
    width: 300px;
    height: 600px;
}
.container
{
    display:flex;
}
.sectionone
{
    background-color: var(--borange);
}
.sectiontwo
{
    background-color: var(--dcyan);
}
.sectionthree
{
    background-color: var(--vdcyan);
}
